@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@300&display=swap');
:root{
  font-family: 'Montserrat', 'Noto Sans KR', 'sans-serif';
  font-weight: 400;
  font-size: 16px;
  color: #333;
  line-height: 1;
}
.clearfix::after{
  content:'';
  display:block;
  clear:both;
}
.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
.wrap{
  margin: 0 auto;
  overflow: hidden;
}
/* header */
.header{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9998;
  background-color: #fff;
}
.header .inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.h-left{
  width: 97px;
}
.top-nav{
  display: none;
}
.btn-nav{
  cursor: pointer;
}
.btn-nav .line{
  margin-bottom: 6px;
  text-indent: -9999px;
  height: 4px;
  width: 30px;
  border-radius: 3px;
  background-color: #333;
}
.btn-nav .line:last-child{
  margin: 0;
}
.sub-nav{
  display: none;
}
.nav{
  position: fixed;
  left: 100%;
  right: -100%;
  top: 70px;
  bottom: 0;
  z-index: 9999;
  background-color: #fff;
}
.nav.active{
  left:30%;
  right:0;
}
.main-nav{
  display: flex;
  flex-flow: row wrap;
}
.main-nav li{
  width: 100%;
}
.main-nav li>a{
  font-size: 19px;
  display: block;
  padding: 19px;
}

/* footer */
.footer{
  padding: 30px 0;
  border-top: 3px solid #ffe600;
}
.footer .container{
  position: relative;
}
.footer .img-box{
  width: 180px;
  margin: 0 auto 30px;
}
.footer address{
  font-style: normal;
}
address ul, .copyright{
  text-align: center;
}
address li{
  margin-bottom: 10px;
}
.copyright{
  margin-top: 30px;
}
.footer .f-site{
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.footer .f-site span{
  padding: 10px;
  border:1px solid #333;
}
.footer .f-site span:hover{
  background-color: #333;
  color: #fff;
}
.footer .f-list{
  position: absolute;
  left: 0;
  right: 0;
  bottom: calc(100% + 20px);
  border: 1px solid #333;
  background-color: #fff;
  color: #333;
  display: none;
}
.footer .f-list.active{
  display: block;
}
.footer .f-list li:hover{
  background-color: #333;
  color: #fff;
}
.footer .f-list li{
  padding: 10px;
}
.footer .f-list:active{
  display: block;
}

/* scr-top */
.scr-top{
  position:fixed;
  left:0;
  right:0;
  bottom: 15px;
  font-size: 10px;
}
.btn-top{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 5px 0 auto;
  width: 35px;
  height: 35px;
  background-color: #ffe600;
}
.btn-top::before{
  box-sizing:border-box;
  content:'';
  display:block;
  margin-bottom: 3px;
  width:6px;
  height:6px;
  border-top:0 solid black;
  border-left:3px solid transparent;
  border-right:3px solid transparent;
  border-bottom:6px solid #333;
}


@media (min-width: 1200px) {
  .header .inner{
    height:120px;
  }
  .h-left{
    width: 194px;
  }
  .btn-nav{
    display: none;
  }
  .top-nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 40px;
  }
  .top-nav li{
    margin-right: 20px;
    font-size: 0.8em;
    color: #999;
  }
  .top-nav li i{
    font-size: 1.5em;
    color:#071f60;
  }
  .top-nav li:last-child{
    margin-right: 0;
  }
  .nav{
    position: static;
  }
  .main-nav>li{
    width: auto;
    margin-left: 80px;
    margin-bottom: none;
    padding: 0;
  }
  .main-nav>li>a{
    padding: 0;
    font-size: 1em;
  }
  .footer .f-site{
    display: block;
  }
}